*{
    border-collapse: collapse;
    box-sizing: border-box;
}
:root{
    --var-base-color:white;
    --var-border:2px solid black;
}
html,body {
  height: 100%;
  overflow:hidden;
}
::-webkit-scrollbar-track{
    background-color: #0db2b2;
    border-radius: 0px;
}
::-webkit-scrollbar{
    width: 5px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb{
    border-radius: 0px;
    background-image: -webkit-gradient(linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(9, 32, 70)),
    color-stop(0.72, rgb(9, 32, 70)),
    color-stop(0.86, rgb(9, 32, 70)));
}
.canvas_container{
    border:var(--var-border);
    text-align:center;
}
.canvas_container canvas{
    width:800px;
    height:600px;
}
.main-table{
    width:100%;
}